<!DOCTYPE html>
<html>
	<head>
		<title>Electron Player</title>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
		<div id="main-container" class="container">
			<div id="upper-main-row" class="row">
				<div class="col-sm-12 fill-parent-height">
					<div class="row fill-parent-height">
						<div class="col-sm-2 fill-parent-height"></div>
						<div class="col-sm-8 fill-parent-height">
							<div id="information" class="absolute-center">
								<div id="song" class="centered-text">The great gig in the sky</div>
								<div id="author" class="centered-text">Pink Floyd</div>
							</div>
						</div>
						<div class="col-sm-2 fill-parent-height">
							<div id="volume-bar" class="absolute-center volume-bar-size">
								<div id="volume-bar-background" class="absolute-center rounded-bar"></div>
								<div id="volume-bar-foreground" class="rounded-bar"></div>
							</div>
							<div id="volume-bar-selector" class="absolute-center volume-bar-size"></div>
						</div>
					</div>
					<div class="row separator">
						<div class="col-sm-12"></div>
					</div>
				</div>
			</div>
			<div id="bottom-main-row" class="row">
				<div class="col-sm-12 fill-parent-height">
					<div class="row upper-row">
						<div class="col-sm-3 fill-parent-height"></div>
						<div id="player-container" class="col-sm-6 fill-parent-height">
							<div class="side-nav-element fill-parent-height">

							</div>
							<div class="side-nav-element fill-parent-height">

							</div>
							<div class="img_thumb side-nav-element fill-parent">
							    <a id="previous-button" href="#" rel="images">
							       <img src="../media/prev.png"/>
							    </a>
							</div>
							<div class="img_thumb play-button-element fill-parent">
							    <a id="play-button" href="#" rel="images">
							       <img src="../media/play.png"/>
							    </a>
							</div>
							<div class="img_thumb side-nav-element fill-parent">
							    <a id="next-button" href="#" rel="images">
							       <img src="../media/next.png"/>
							    </a>
							</div>
							<div class="side-nav-element fill-parent-height">

							</div>
							<div class="side-nav-element fill-parent-height">

							</div>
						</div>
						<div class="col-sm-3 fill-parent-height"></div>
					</div>
					<div class="row bottom-row">
						<div class="col-sm-12 fill-parent-height"></div>
					</div>
				</div>
			</div>
		</div>

		<script>require('../controllers/index.js')</script>
	</body>
</html>
